.footer {
    position: sticky;
    top: 100%;
    height: 50px;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .footer__placeholder {
    margin: 0;
    text-align: center;
}
.footer__graphic-1 {
    position: absolute;
    top: -100px;
    right: -60px;
    display: block;
    width: 220px;
    height: 220px;
    transform: rotate(-45deg);
    background-image: linear-gradient(90deg,#2336B6 0%, rgba(31,38,103,0.9) 100%);
    transition: all 1.5s;
    &:hover {
        transition: all 1.5s;
        transform: scale(1.2) rotate(-45deg);
    }
    @media (max-width: 767px) {
        display: none;
    }
}
.footer__graphic-2 {
    position: absolute;
    top: -100px;
    right: 80px;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: linear-gradient(-90deg, rgba(49,207,171,0.5) 0%, #50E3C2 100%);
    mix-blend-mode: multiply;
    transition: all 1.5s;
    &:hover {
        transition: all 1.5s;
        transform: scale(1.2);
    }
    @media (max-width: 767px) {
        display: none;
    }
}
