.content{
    &__box {
    height: 400px;
    width: 400px; 
    display: flex;
    justify-content: center;
    }
    &__img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}