.header {
    height: 100px;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 5px -4px rgba(87, 143, 156, 0.39);
    @media (max-width: 424px) {
        padding: 10px;
    }
    &__menu {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        :not(:first-child) {
            margin-left: 15px;
        } 
        @media (max-width: 424px) {
            flex-direction: column;
            :not(:first-child) {
                margin-left: 0;
            }
        }
        
        &-link {
            cursor: pointer;
            color: black;
            text-decoration: none;
            &:hover {
                border-bottom:1px solid rgba(87, 143, 156, 0.39)
            }
            @media (max-width: 767px) {
                font-size: 14px;
            }
        }
    }
    &__logo {
        width: 150px;
        height: 115px;
        @media (max-width: 424px) {
            width: 100px;
            height: 80px;
        }
        &-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__signin {
        padding: 5px 10px;
        border: 1px solid rgba(87, 143, 156, 0.39);
        text-decoration: none;
        color: #000;
        &:hover {
            background-image: linear-gradient(-90deg, rgba(49,207,171,0.5) 0%, #50E3C2 100%);
        }
        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
    &__logout {
        padding: 5px 10px;
        border: 1px solid rgba(87, 143, 156, 0.39);
        text-decoration: none;
        color: #000;
        &:hover {
            background-image: linear-gradient(90deg,#2336B6 0%, rgba(31,38,103,0.9) 100%);
        }
    }
    &__personal-account {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        :not(:first-child) {
            margin-left: 30px;
        } 
    }

}