.form {
  margin: 0 auto;
  margin-top: 30px;
  padding: 35px;
  width: 500px;
  min-height: 500px;
  background-color: #fff;
  border-radius: 3px;
  & h1 {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
  }
  & label {
    display: block;
    margin-top: 25px;
    font-size: 16px;
    font-weight: bold;
  }
  & input {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 5px 15px;
    background: #fff;
    border: 1px solid #e2e2e2;
    color: #353535;
    border-radius: 10px;
    font-size: 16px;
  }
  & input:focus {
    outline: 1px solid rgba(87, 143, 156, 0.39);
  }
  & button {
    display: block;
    width: 180px;
    padding: 15px;
    margin-top: 25px;
    font-size: 18px;
    color: #000;
    border: 0;
    border-radius: 10px;
    background-image: linear-gradient(-90deg, rgba(49,207,171,0.5) 0%, #50E3C2 100%);
    transition: 0.5s all;
    &:hover {
      transition: 0.5s all;
      transform: scale(1.05);
    }
  }
  & .error {
    font-size: 14px;
    color: #e53e3e;
    margin-top: 8px;
  }
}
